@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kaushan+Script&display=swap');
@import "tailwindcss";

@theme {
  --font-kaushan: 'Kaushan Script', cursive;
  --font-jetbrains: 'JetBrains Mono', monospace;
  --color-violet: oklch(51.97% 0.2148 320.54);
  --color-border: hsl(var(--border));
  --color-border-d: hsl(var(--border-d));
}
@layer base {
  * {
    @apply border-border;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --border: 240 5.9% 90%;
    --border-d: 215 27.9% 16.9%;
  }

}

:root {
  font-family: JetBrains Mono, sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
